@import url(../../css/variables.css);

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.text-center {
    text-align: center;
}

.hidden {
    display: none;
}




